h1 {
  font-family: "Times New Roman", Times, serif;
}
.description{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: rgb(228, 188, 137);
}
.skill-a-desenvolver{
  font-size: 1em;
}
.skill-desenvolvendo{
  font-size: 1.2em;
}